pydantic==1.10.14
python-dotenv
langchain
langchain_openai
openai
llama-cpp-python==0.1.78
numpy==1.23.4
pip
ipython
pandas
nltk
requests
install-jdk
wheel
awscli
pyspark==3.3.0
pyarrow
requests
pyspark[sql]
gensim
pyreadr
jupyter
loguru
torch
jupyterlab
transformers
joblib
huggingface_hub
simpletransformers
accelerate
streamlit